<html>
    <head>
        <title>Emma's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Emma's Blog</a></h1>
        </div>

        <div>
            <p>published: 02.17.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hey! This is my first post! Woohoo!</p>
        </div>

        <div>
            <p>published: 02.17.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is pretty neat, huh?</p>
        </div>
    </body>
</html>